<% layout('../layout') -%>

<h1>Locomotive-Azure-Boilerplate</h1>

<p>
    <a href="/login">Login</a>
</p>

<p>
    <a href="/register">Register account</a>
</p>

<p>
    <a href="/account">Show account</a>
</p>